server.port=8082

spring.datasource.url=jdbc:mysql://localhost/db-recursos
spring.datasource.username=root
spring.datasource.password=admin
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.database-platform=org.hibernate.dialect.MySQL8Dialect
spring.jpa.hibernate.ddl-auto=update


# JWT
# Generar clave: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
token.secret.key=f4bcbb918f47b7a03d8b0528696bf6789f2d7f34d46eb593385f659538c10cab
token.expiration.ms=86400000

#Correo
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=goodtaste.soporte@gmail.com
spring.mail.password=jtwg bvcs zudj kqad
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true